*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;

}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('H_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
}
@keyframes wave {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(10px); }
    100% { transform: translateY(0); }
    }
@keyframes rainbow {
    0% { color: rgb(255, 174, 0); }
    16% { color: rgb(238, 255, 0); }
    33% { color: rgb(255, 174, 0); }
    50% { color: rgb(238, 255, 0); }
    66% { color: rgb(255, 174, 0); }
    83% { color: rgb(238, 255, 0); }
    100% { color: rgb(255, 174, 0); }
}
.rule_box{
    align-items: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 20px;

}
.rule_box h1{
    font-size: 40px;
}
.rule_box p{
    font-size: 30px;
}
button{
    width: 300px;
    height: 50px;
    font-size: 30px;
    border: none;
    margin: 5rem;
    border-radius: 20px;
}
button:hover{
    background-color: black;
    animation: rainbow 2s infinite;
    border-radius: 30px;
}
